<launch4jConfig>
  <dontWrapJar>true</dontWrapJar>
  <headerType>gui</headerType>
  <jar>BreakoutServer.jar</jar>
  <outfile>Breakout Server64.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.sun.com/javase/downloads/</downloadUrl>
  <supportUrl></supportUrl>
  <customProcName>false</customProcName>
  <stayAlive>false</stayAlive>
  <manifest></manifest>
  <icon>BreakoutLogo.ico</icon>
  <jre>
    <path></path>
    <minVersion>1.5.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <opt>-Djava.library.path=.</opt>
  </jre>
  <versionInfo>
    <fileVersion>0.2.0.0</fileVersion>
    <txtFileVersion>0.2.0</txtFileVersion>
    <fileDescription>Breakout Server</fileDescription>
    <copyright>Breakout Authors</copyright>
    <productVersion>0.2.0.0</productVersion>
    <txtProductVersion>0.2.0</txtProductVersion>
    <productName>Breakout Server</productName>
    <companyName></companyName>
    <internalName>Breakout Server</internalName>
    <originalFilename>Breakout Server.exe</originalFilename>
  </versionInfo>
  <messages>
    <startupErr>An error occurred while starting the application.</startupErr>
    <bundledJreErr>This application was configured to use a bundled Java Runtime Environment but the runtime is missing or corrupted.</bundledJreErr>
    <jreVersionErr>This application requires a Java Runtime Environment</jreVersionErr>
    <launcherErr>The registry refers to a nonexistent Java Runtime Environment installation or the runtime is corrupted.</launcherErr>
    <instanceAlreadyExistsMsg>An application instance is already running.</instanceAlreadyExistsMsg>
  </messages>
</launch4jConfig>