<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>Breakout Server</string>
	<key>CFBundleIdentifier</key>
	<string>com.breakoutjs</string>
	<key>CFBundleVersion</key>
	<string>0.2.3</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleGetInfoString</key>
	<string>0.2.3 Copyright Breakout Authors</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>BreakoutLogo.icns</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>com.breakoutjs.BreakoutServer</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>ClassPath</key>
			<string>$JAVAROOT/BreakoutServer.jar</string>
	</dict>
</dict>
</plist>
